@import url('./root.css');

// 
// Pré config
// 
.btn {
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: var(--shadow);
    
    &.btn-green {
        color: white;
        background: var(--verde);

        i { color: inherit; }

        &:hover { background: var(--verde_hover); }
    }
        
    &.btn-red {
        color: white;
        background: var(--vermelho);

        i { color: inherit; }

        &:hover { background: var(--vermelho_hover); }
    }
        
    &.btn-blue {
        color: white;
        background: var(--azul);

        i { color: inherit; }

        &:hover { background: var(--azul_hover); }
    }

    &.btn-dark {
        color: white;
        background: var(--dark);
        
        i { color: inherit; }

        &:hover { background: var(--dark_hover); }
    }
}



// 
// Mixins
// 
@mixin flex-center()
{
    display: flex;
    place-items: center;
    align-content: center;
    justify-content: center;
}

@mixin flex-between()
{
    display: flex;
    place-items: center;
    align-content: center;
    justify-content: space-between;
}

@mixin flex-wrap()
{
    display: flex;
    flex-wrap: wrap;
}



// 
// Index
// 
#index 
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--branco);

    @include flex-center();

    section::before {
        content: '';
        position: absolute;
        top: 0;
        right: -30px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#ffffff, #ff3739bd);
        clip-path: circle(30% at right 70%);
    }
    section::after {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#ffffff, #ff3739bd);
        clip-path: circle(20% at 10% 70%);
    }

    .container {
        z-index: 1;
        margin: 40px 0;
        flex-wrap: wrap;
        position: relative;

        @include flex-center();

        .card {
            min-width: 350px;
            border-radius: 15px;
            background: var(--glass);
            backdrop-filter: blur(10px);
            box-shadow: 0 15px 35px rgba(0,0,0,0.2);
        
            .form {
                padding: 20px;
                border-radius: inherit;

                .form-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-align: center;
                    margin: 0 0 20px 0;
                }

                .form-data {
                    display: flex;
                    position: relative;
                    flex-direction: column;

                    .input-field {
                        position: relative;

                        i {
                            top: 12.5px;
                            left: 12.5px;
                            position: absolute;
                            color: var(--texto-claro);
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-radius: 4px;
                            margin-bottom: 15px;
                            box-shadow: var(--shadow);
                            padding: 10px 15px 10px 40px;

                            &:focus {
                                border: 1px solid var(--effect);
                            }
                        }
                    }

                    .create-link {
                        left: 5px;
                        bottom: -10px;
                        font-size: .8rem;
                        position: absolute;
                        color: var(--azul);
                    }
                }

                .form-submit {
                    margin-top: 15px;
                    @include flex-center();

                    button { margin-top: 10px; }
                }
            }            
        }
    }
}

@media (max-width: 850px)
{
    #index {
        display: flex;
        flex-direction: column;

        .logo {
            height: 25%;
            margin-top: -25%;
        }
    }
}



// 
// INDEX WORKSPACE
// 
header.selettra-header 
{
    width: 100%;
    height: 80px;
    padding: 20px;
    box-shadow: var(--shadow);
    background: var(--branco-absoluto); 

    @include flex-between();

    img.logo { width: 8em; }

    .profile {
        
        @include flex-center();

        img { width: 4em; }
    }
}



// 
// INDEX WORKSPACE
// 
#index_workspace
{
    background: var(--branco);

    #particles-js {
        z-index: -1;
        width: 100%;
        position: absolute;
        height: calc(100vh - 80px);
    }

    section#choose {
        width: 100%;
        height: calc(100vh - 80px);
        border-bottom: 1px solid lightgray;

        @include flex-center();
        flex-direction: column;

        h1 { font-size: 40px; }
        h2 { font-size: 20px;  margin-bottom: 30px; }
    }

    section#developers {
        width: 100%;
        margin-bottom: 40px;

        center h2 {
            font-size: 30px;
            margin: 40px 0 10px 0;
        }

        .dev-cards {
            @include flex-wrap();
            @include flex-center();

            .card {
                margin: 20px;
                padding: 20px;
                flex-basis: 25%;
                min-width: 300px;
                border-radius: 4px;
                background: var(--glass);
                box-shadow: var(--shadow);
                backdrop-filter: blur(10px);

                @include flex-center();
                flex-direction: column;
                transition: var(--transition_fast);
                
                &:hover {
                    box-shadow: 0 0 15px var(--sweet-effect);
                }

                img {
                    width: 70px;
                    margin-bottom: 20px;
                    border-radius: 50px;
                }
                
                .name { margin-bottom: 10px; font-weight: bold; }
                
                .description { 
                    font-style: italic;
                    text-align: center; 
                    color: var(--texto-claro);
                }

                .social-media {
                    @include flex-between();

                    a {
                        padding: 8px 10px;
                        border-radius: 50px;
                        margin: 20px 5px 0 5px;
                        border: 1px solid lightgray;
                        transition: var(--transition_fast);
                        
                        i { 
                            font-size: 20px;
                            color: lightgray; 
                            transition: var(--transition_fast); 
                        }
                    
                        &:hover {
                            border-color: var(--effect); 
                            i { color: var(--effect); }
                        }
                    }
                }
            }
        }

        &::before {
            content: '';
            top: 0;
            width: 90%;
            z-index: -1;
            right: -0;
            height: 100%;
            position: absolute;
            clip-path: circle(15% at right 20%);
            background: linear-gradient(#ffffff, #ff3739bd);
        }
        &::after {
            content: '';
            top: 0;
            width: 90%;
            z-index: -1;
            left: -0;
            height: 100%;
            position: absolute;
            clip-path: circle(15% at 5% 5%);
            background: linear-gradient(#ffffff, #ff3739bd);
        }
    }

    section#footer {
        width: 100%;

        .container-infos {
            padding: 20px;
            
            .title { 
                font-size: 32px; 
                margin-bottom: 20px;
            }
            
            .ct-infos {
                flex-wrap: wrap;
                @include flex-between();

                h3 { 
                    font-size: 20px; 
                    margin-bottom: 10px;
                
                    i { margin-right: 7px; }
                }
                
                ul {
                    list-style: none;
                    margin: 0 40px 0 0;

                    li {

                        i { margin-right: 7px; }
                    }
                }
            }
        }
    }
}



// 
// FORM WORKSPACE
// 
#form_workspace
{
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--branco);

    @include flex-center();

    #particles-js {
        width: 100%;
        height: 95vh;
    }

   .modal {
        width: 300px;
        overflow: hidden;
        position: absolute;
        -webkit-box-shadow: var(--shadow);
        background: var(--branco-absoluto);

        .form {
            width: 400%;
            height: 100%;
            display: flex;         

            .step {
                width: 25%;
                transition: margin-left 0.3s ease-in-out;
            }
        }
    }
}